#logo {
  content: url("../assets/logo.webp");
  width: 175px;
  height: auto;
  padding-right: 10px;  
}

#pause > img {
  content: url("../assets/pause.webp");
  height: 220px;
  width: 220px;
  top: -22px;
  left: calc(50% - 110px);
}

#pause {
  top: 50%;
  background: none;
  font-family: "Alegreya", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.5em;
}

#pause > figcaption {
  text-shadow: 0px 0px 30px brown;
}

#ui-top.offset {
  margin-left: -25px;
}